
*.cache
MyLittleVault/.vs/MyLittleVault/v16/.suo
MyLittleVault/MyLittleVault/bin/*
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/bin/Debug/app.publish/Application Files/MyLittleVaultJsonEditor_1_0_0_5/Icon.ico.deploy
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/bin/Debug/app.publish/Application Files/MyLittleVaultJsonEditor_1_0_0_5/MyLittleVaultJsonEditor.exe.deploy
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/bin/Debug/app.publish/Application Files/MyLittleVaultJsonEditor_1_0_0_5/MyLittleVaultJsonEditor.exe.manifest
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/bin/Debug/app.publish/Application Files/MyLittleVaultJsonEditor_1_0_0_5/Newtonsoft.Json.dll.deploy
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/bin/Debug/app.publish/MyLittleVaultJsonEditor.application
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/bin/Debug/app.publish/MyLittleVaultJsonEditor.exe
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/bin/Debug/app.publish/setup.exe
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/bin/Debug/MyLittleVaultJsonEditor.application
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/bin/Debug/MyLittleVaultJsonEditor.exe
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/bin/Debug/MyLittleVaultJsonEditor.exe.manifest
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/bin/Debug/MyLittleVaultJsonEditor.pdb
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/bin/Debug/Newtonsoft.Json.dll
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/bin/Debug/Newtonsoft.Json.xml
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/obj/Debug/MyLittleVaultJsonEditor.application
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/obj/Debug/MyLittleVaultJsonEditor.csproj.CopyComplete
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/obj/Debug/MyLittleVaultJsonEditor.csproj.FileListAbsolute.txt
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/obj/Debug/MyLittleVaultJsonEditor.exe
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/obj/Debug/MyLittleVaultJsonEditor.exe.manifest
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/obj/Debug/MyLittleVaultJsonEditor.MainForm.resources
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/obj/Debug/MyLittleVaultJsonEditor.PasswordInput.resources
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/obj/Debug/MyLittleVaultJsonEditor.pdb
MyLittleVaultJsonEditor/MyLittleVaultJsonEditor/obj/Debug/MyLittleVaultJsonEditor.Properties.Resources.resources
MyLittleVault/MyLittleVault/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyLittleVault/MyLittleVault/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
